
                  <div class="row">
                    <div class="col-2">
                      <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="nrUnico">Nr. Único</nz-form-label>
                        <nz-form-control [nzSpan]="24">
                          <input class="form-control input-lg" nz-input name="nrUnico" type="text" id="nrUnico" formControlName="nrUnico"/>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div class="col-2">
                      <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="nrProcesso">Nr. Processo</nz-form-label>
                        <nz-form-control [nzSpan]="24">
                          <input class="form-control input-lg" name="nrProcesso" type="text" id="nrProcesso" formControlName="nrProcesso"/>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div class="col-2">
                      <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="dtProcesso" >Data Processo</nz-form-label>
                        <nz-form-control [nzSpan]="24">
                          <nz-date-picker id="dtProcesso" class="form-control input-lg" formControlName="dtProcesso" [nzFormat]="dateFormat" (ngModelChange)="onChangeDtProcesso($event)"></nz-date-picker>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div class="col-2">
                      <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="dtDistribuicao" >Data Distribuição</nz-form-label>
                        <nz-form-control [nzSpan]="24">
                          <nz-date-picker id="dtDistribuicao" class="form-control input-lg" formControlName="dtProcesso" [nzFormat]="dateFormat" (ngModelChange)="onChangeDtDristribuicao($event)"></nz-date-picker>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div class="col-1">
                      <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="nrDistribuicao">Nr. Distribuição</nz-form-label>
                        <nz-form-control [nzSpan]="24">
                          <input class="form-control input-lg" name="nrDistribuicao" type="text" id="nrDistribuicao" formControlName="nrDistribuicao"/>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div class="col-2">
                      <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="autoInfracao">Auto Infração</nz-form-label>
                        <nz-form-control [nzSpan]="24">
                          <input class="form-control input-lg" name="autoInfracao" type="text" id="autoInfracao" formControlName="autoInfracao"/>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div class="col-1">
                      <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="nrCDA">Nr. CDA</nz-form-label>
                        <nz-form-control [nzSpan]="24">
                          <input class="form-control input-lg" name="nrCDA" type="text" id="nrCDA" formControlName="nrCDA"/>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div class="col-2">
                      <nz-form-item>
                          <nz-form-label [nzSpan]="24" nzFor="status">Status</nz-form-label>
                          <nz-select id="status" class="input-lg" nzShowSearch nzAllowClear nzPlaceHolder="Selecione o Status" formControlName="status">
                              <nz-option *ngFor="let listStatus of listStatus" [nzLabel]="listStatus.id + ' - ' + listStatus.ds_status" [nzValue]="listStatus.id"></nz-option>
                          </nz-select>
                      </nz-form-item>
                    </div>
                    <div class="col-2">
                      <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="parteDef">Parte Defendida</nz-form-label>
                        <nz-radio-group id="parteDef" [(ngModel)]="radioValue">
                          <label nz-radio nzValue="R">Réu</label>
                          <label nz-radio nzValue="A">Autor</label>
                        </nz-radio-group>
                      </nz-form-item>
                    </div>
                    <div class="col-2">
                      <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="recurso"></nz-form-label>
                        <label id="recruso" nz-checkbox [(ngModel)]="checked">Recurso</label>
                      </nz-form-item>
                    </div>
                    <div class="col-2">
                      <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="administrativo"></nz-form-label>
                        <label id="administrativo" nz-checkbox [(ngModel)]="checked">Administrativo</label>
                      </nz-form-item>
                    </div>
                    <div class="col-12">
                      <hr class="text-uam">
                    </div>
                    <div class="col-2">
                      <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="rito">Rito</nz-form-label>
                        <nz-form-control [nzSpan]="24">
                          <nz-select class="input-lg" id="rito" >
                            <nz-option nzValue="ORDINÁRIO" nzLabel="ORDINÁRIO"></nz-option>
                            <nz-option nzValue="SUMARISSÍMO" nzLabel="SUMARISSÍMO"></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div class="col-2">
                      <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="ramo">Ramo</nz-form-label>
                        <nz-select id="ramo" class="input-lg" nzShowSearch nzAllowClear nzPlaceHolder="" >
                        </nz-select>
                      </nz-form-item>
                    </div>
                    <div class="col-2">
                      <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="materia">Matéria Discussão</nz-form-label>
                        <nz-select id="materia" class="input-lg" nzShowSearch nzAllowClear nzPlaceHolder="" >
                        </nz-select>
                      </nz-form-item>
                    </div>
                    <div class="col-2">
                      <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="tipoAcao">Tipo de Ação</nz-form-label>
                        <nz-select id="tipoAcao" class="input-lg" nzShowSearch nzAllowClear nzPlaceHolder="" >
                        </nz-select>
                      </nz-form-item>
                    </div>
                    <div class="col-2">
                      <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="vara">Vara Cartório</nz-form-label>
                        <nz-select id="vara" class="input-lg" nzShowSearch nzAllowClear nzPlaceHolder="" >
                        </nz-select>
                      </nz-form-item>
                    </div>
                    <div class="col-2">
                      <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="unidade">Unidade</nz-form-label>
                        <nz-select id="unidade" class="input-lg" nzShowSearch nzAllowClear nzPlaceHolder="" >
                        </nz-select>
                      </nz-form-item>
                    </div>
                    <div class="col-2">
                      <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="orgao">Orgão Competente</nz-form-label>
                        <nz-select id="orgao" class="input-lg" nzShowSearch nzAllowClear nzPlaceHolder="" >
                        </nz-select>
                      </nz-form-item>
                    </div>
                    <div class="col-2">
                      <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="motivoEncerra">Motivo do Encerramento</nz-form-label>
                        <nz-select id="motivoEncerra" class="input-lg" nzShowSearch nzAllowClear nzPlaceHolder="" >
                        </nz-select>
                      </nz-form-item>
                    </div>
                    <div class="col-2">
                      <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="divisao">Divisão</nz-form-label>
                        <nz-select id="divisao" class="input-lg" nzShowSearch nzAllowClear nzPlaceHolder="" >
                        </nz-select>
                      </nz-form-item>
                    </div>
                    <div class="col-2">
                      <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="nrRegistro">Nr. Registro</nz-form-label>
                        <nz-form-control [nzSpan]="24">
                          <input class="form-control input-lg" name="nrRegistro" type="text" id="nrRegistro" />
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div class="col-2">
                      <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="nrNotificacao">Nr. Notificação</nz-form-label>
                        <nz-form-control [nzSpan]="24">
                          <input class="form-control input-lg" name="nrNotificacao" type="text" id="nrNotificacao" />
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <!-- <div class="col-2">
                      <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="dtNotificacao" >Data Notificação</nz-form-label>
                        <nz-form-control [nzSpan]="24">
                          <nz-date-picker id="dtNotificacao" class="form-control input-lg" formControlName="dtNotificacao" [nzFormat]="dateFormat" (ngModelChange)="onChangedtNotificacao($event)"></nz-date-picker>
                        </nz-form-control>
                      </nz-form-item>
                    </div> -->
                  </div>
                </form>
