<div class="row">
  <div class="col-12">
    <div class="h4 text-uam">Distribuições</div>
  </div>
  <div class="col-12">
    <button mat-button class="btn btn-uam-sm m-2" color="primary" (click)="listarDistribuicoes()">
      <i class="fa-solid fa-magnifying-glass"></i> Pesquisar
    </button>
  </div>
  <div class="col-12">
    <div class="card-body p-3 border">
      <hr class="rounded text-uam">
      <div class="col-12">
        <div class="table-responsive">
          <nz-table [nzShowPagination]="false" [nzFooter]="null" [nzData]="dataSource">
            <thead>
              <tr>
                <th>Cod.</th>
                <th>Nr. Processo</th>
                <th>Status</th>
                <th>Ramo</th>
                <th>Tipo</th>
                <th class="text-center">Cadastro</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of dataSource">
                <td>{{data.id}}</td>
                <td>{{data.num_processo}}</td>
                <td>{{data.status_processo}}</td>
                <td>{{data.ramo_processo}}</td>
                <td>{{data.tipo_acoes}}</td>
                <td class="text-center">
                  <button mat-button class="btn btn-info-sm m-2" color="primary"
                  (click)="showModalFromParent();"
                  (click)="criarProcesso(9911);"
                  title="Cadastrar Processo"><i class="fa-solid fa-file-circle-plus"></i></button></td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </div>
</div>
<app-novo-processo></app-novo-processo>
