<div class="col-12">
  <div class="card-body p-3 border">
    <button mat-button class="btn btn-uam-sm-light m-2" title="Adicionar Custa">
      <i class="fa-solid fa-square-plus"></i>
      </button>
    <hr class="rounded text-uam">
    <nz-table  [nzShowPagination]="false" [nzFooter]="null" [nzData]="dataDepositoDebito">
      <thead>
        <tr>
            <th>Cod.:</th>
            <th>Data</th>
            <th>Banco Origem</th>
            <th>Banco Destino</th>
            <th>Valor</th>
            <th class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataDepositoDebito">
          <td>{{data.ID_DEPOSITO}}</td>
          <td>{{data.DT_DEPOSITO}}</td>
          <td>{{data.DSC_BANCO_ORIGEM}}</td>
          <td>{{data.DSC_BANCO_DESTINO}}</td>
          <td>{{data.VLR_DEPOSITO}}</td>
          <td class="text-center">
            <button mat-button class="btn btn-danger-sm m-2" title="Excluir Custa">
              <i class="fa-solid fa-trash"></i>
            </button>
            <button mat-button class="btn btn-warning-sm m-2"  title="Editar Custa">
              <i class="fa-solid fa-pen"></i>
            </button>
            <button mat-button class="btn btn-info-sm m-2"  title="Visualizar Parcelas">
              <i class="fa-solid fa-list-ol"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
