<div class="col-12">
  <div class="card-body p-3 border">
    <button mat-button class="btn btn-uam-sm-light m-2" title="Adicionar Pagamento">
      <i class="fa-solid fa-square-plus"></i>
      </button>
    <hr class="rounded text-uam">
    <nz-table  [nzShowPagination]="false" [nzFooter]="null" [nzData]="dataPagamentos">
      <thead>
        <tr>
            <th>Financeiro</th>
            <th>Valor Nossa Parte</th>
            <th>Valor Parte Contrária</th>
            <th>Tipo de Pagamento</th>
            <th class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataPagamentos">
          <td>{{data.DSC_PAGAMENTO}}</td>
          <td>{{data.VLR_NOSSA_PARTE}}</td>
          <td>{{data.VLR_PARTE_CONTRARIA}}</td>
          <td>{{data.TP_PAGAMENTO}}</td>
          <td class="text-center">
            <button mat-button class="btn btn-danger-sm m-2" title="Excluir Pagamento">
              <i class="fa-solid fa-trash"></i>
            </button>
            <button mat-button class="btn btn-warning-sm m-2"  title="Editar Pagamento">
              <i class="fa-solid fa-pen"></i>
            </button>
            <button mat-button class="btn btn-info-sm m-2"  title="Distribuir Pagamentos">
              <i class="fa-solid fa-list-check"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
