<ul nz-menu class="bg-light" nzMode="inline">
  <li nz-submenu nzTitle="Processos" nzIcon="read">
    <ul>
      <li nz-menu-item><a [routerLink]="'processos'" class="link-dark rounded link-decoration-none">Gestão</a></li>
      <li nz-menu-item><a [routerLink]="'distribuicoes'" class="link-dark rounded link-decoration-none">Distribuições</a></li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Requisições" nzIcon="solution">
    <ul>
      <li nz-menu-item><a [routerLink]="'requisicoes'" class="link-dark rounded link-decoration-none">Gestão</a></li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Cadastros" nzIcon="form">
    <ul>
      <li nz-menu-item>Cadastro 1</li>
      <li nz-menu-item>Cadastro 2</li>
      <li nz-menu-item>Cadastro 3</li>
      <li nz-menu-item>Cadastro 4</li>
      <li nz-menu-item>Cadastro 5</li>
      <li nz-menu-item>Cadastro 6</li>
    </ul>
  </li>
</ul>
