<div class="container-fluid">
  <div class="flex-shrink-0 p-3">
    <a class="d-flex align-items-center justify-content-center mb-3 mb-md-0 text-decoration-none">
      <img class="text-center" width="80%" src="assets/img/logo-dark-nobg.png">
    </a>
    <ul class="list-unstyled ps-0 mt-5">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed btn-uam" data-bs-toggle="collapse" data-bs-target="#dash-collapse" aria-expanded="true">
          Dashboard
        </button>
        <div class="collapse" id="dash-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 mm mt-2">
            <li><a href="#" class="link-dark rounded link-decoration-none">Financeiro</a></li>
            <li><a href="#" class="link-dark rounded link-decoration-none">Distribuições</a></li>
            <li><a href="#" class="link-dark rounded link-decoration-none">Requisições</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed btn-uam" data-bs-toggle="collapse" data-bs-target="#proc-collapse" aria-expanded="true">
          Processos
        </button>
        <div class="collapse" id="proc-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small mm mt-2">
            <li><a [routerLink]="'processos'" class="link-dark rounded link-decoration-none">Gestão</a></li>
            <li><a [routerLink]="'distribuicoes'" class="link-dark rounded link-decoration-none">Distribuições</a></li>
            <li><a href="#" class="link-dark rounded link-decoration-none">Movimentações</a></li>
            <li><a href="#" class="link-dark rounded link-decoration-none">Financeiro</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed btn-uam" data-bs-toggle="collapse" data-bs-target="#req-collapse" aria-expanded="true">
          Requisições
        </button>
        <div class="collapse" id="req-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small mm mt-2">
            <li><a href="#" class="link-dark rounded link-decoration-none">Gestão</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed btn-uam" data-bs-toggle="collapse" data-bs-target="#cad-collapse" aria-expanded="true">
          Cadastros
        </button>
        <div class="collapse" id="cad-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small mm mt-2">
            <li><a href="#" class="link-dark rounded link-decoration-none">Tabela 1</a></li>
            <li><a href="#" class="link-dark rounded link-decoration-none">Tabela 2</a></li>
            <li><a href="#" class="link-dark rounded link-decoration-none">Tabela 3</a></li>
            <li><a href="#" class="link-dark rounded link-decoration-none">Tabela 4</a></li>
            <li><a href="#" class="link-dark rounded link-decoration-none">Tabela 5</a></li>
            <li><a href="#" class="link-dark rounded link-decoration-none">Tabela 6</a></li>
            <li><a href="#" class="link-dark rounded link-decoration-none">Tabela 7</a></li>
            <li><a href="#" class="link-dark rounded link-decoration-none">Tabela 8</a></li>
          </ul>
        </div>
      </li>


      <li class="border-top my-3"></li>

    </ul>
  </div>


</div>
