<nz-layout class="nz-layout">
  <nz-sider class="bg-light nz-sider" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo text-center">
      <img *ngIf="!isCollapsed" src="../../assets/img/lodo-dark-nob-sisjur.png" width="100%" alt="">
      <img *ngIf="isCollapsed" src="../../assets/img/logo-dark-nobg-mini.png" width="100%" alt="">
    </div>
    <app-sidebar></app-sidebar>
  </nz-sider>
  <nz-layout>
    <nz-header class="bg-uam">
      <div class="row">
        <div class="col-1">
          <span
            class="trigger"
            (click)="isCollapsed = !isCollapsed" >
            <i class="fa-solid fa-bars-staggered"></i>
          </span>
        </div>
        <div class="col-10">

        </div>
        <div class="col-1  d-flex justify-content-start align-items-center">
          <button mat-button class="btn btn-uam-sm m-2" title="Atalhos">
              <i class="fa-solid fa-qrcode fa-xl"></i>
          </button>
          <button mat-button class="btn btn-uam-sm m-2" title="Sair">
            <i class="fa-solid fa-right-from-bracket fa-xl"></i>
        </button>
        </div>
      </div>
    </nz-header>
    <nz-content class="nz-content">
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>Joeder Blanca ©2024 UAM</nz-footer>
  </nz-layout>
</nz-layout>
