<div class="row">
  <div
    class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
    <div class="container-fluid dashboard-content ">
      <div class="row">
        <!-- lista de partes -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="card">
            <div class="card-header">
              <button
                class="btn btn-rounded btn-primary m-2"
                style="width:5%"
                title="Adicionar Parte "><i class="fa-solid fa-square-plus "></i>
              </button>
            </div>
            <div class="col-12">
              <nz-table  [nzShowPagination]="false" [nzFooter]="null">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Participação</th>
                    <th>%</th>
                    <th>Responsabilidade</th>
                    <th>Observações</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr *ngFor="let data of dataSource">
                    <td>{{data.id}}</td>
                  </tr> -->
                </tbody>
              </nz-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
