<div class="container-fluid">
  <nav class="navbar bg-light">
      <button class="btn navbar-brand text-uam" id="botaoMenu">
        <i class="fa-solid fa-bars"></i>
        Menu
      </button>
      <div class="h4 text-uam"><i class="fa-solid fa-scale-balanced"></i>
        WEB SISJUR
      </div>
      <button class="btn navbar-brand text-uam" style="margin-left: 70px;" id="botaoAtalhos">
        <i class="fa-solid fa-table-cells-large fa-xl"></i>
        Atalhos
      </button>
  </nav>
</div>
