
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


//bg-color
.bg-uam{
  background-color:#26785c !important;
  color: aliceblue !important;
}

.bg-uam-light
{
  background-color:#2bb486 !important;
  color: aliceblue !important;
}

.bg-uam-primary{
  background-color: #0043c9;
  color: aliceblue !important;
}

.bg-uam-secondary{
  background-color: #4d4d4d;
  color: aliceblue !important;
}

.bg-uam-info{
  background-color: #05909a;
  color: rgb(0, 0, 0);
}

.bg-uam-warning{
  background-color: #e79a15;
  color: rgb(0, 0, 0);
}

.bg-dark{
  background-color: rgb(44, 44, 44);
}

.bg-dark-light{
  background-color: rgb(126, 126, 126);
}
//bg-color end


//navbar

.navbar-brand{
  margin-left: 20px;
}

//navbar end


//layout

.mm{
  margin-left: 30px;
}

.pr-5{
  padding-right: 50px;
}

//layout end





.btn-uam
{
  background-color:#26785c !important;
  color: aliceblue !important;
  width: 100%;
}

.btn-uam-sm
{
  background-color:#26785c !important;
  color: aliceblue !important;
}

.btn-primary-sm
{
  background-color:#0043c9 !important;
  color: aliceblue !important;
}

.btn-secondary-sm
{
  background-color:#4d4d4d !important;
  color: aliceblue !important;
}

.btn-warning-sm{
  background-color: #e79a15 !important;
  color: aliceblue !important;
}

.btn-danger-sm
{
  background-color:#e66464 !important;
  color: aliceblue !important;
}

.btn-info-sm
{
  background-color:#05909a !important;
  color: aliceblue !important;
}

.btn-uam-sm-light
{
  background-color:#2bb486 !important;
  color: aliceblue !important;
}

.nav-link.active
{
  background-color:#2bb486 !important;
  color: aliceblue !important;
  width: 100%;
}


.text-uam{
  color: #26785c !important;
}

.ativo
{
  background-color: #113025 !important;
  color: aliceblue !important;
}

.link-decoration-none{
  text-decoration-line: none;
}

[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}

.sidebar{
  height: 100vh;
}

.input-lg{
  width: 100%;
  display: block;
  width: 100%;
  height: 36px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}

nz-date-picker {
  margin: 0 8px 12px 0;
}

nz-select-top-control{
  height: 100% !important;
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

.text-center{
  text-align: center !important;
}

