<div class="row">
  <div class="col-12">
    <div class="h4">
      Detalhes do Processo
    </div>
    <div class="row">
      <div class="col-1 d-flex align-items-center">Cod.: <span class="text-uam">{{id}}</span></div>
      <div class="col-6 d-flex align-items-center">Nr.: <span class="text-uam">{{nrProcesso}}</span></div>
      <div class="col-5 d-flex justify-content-end">
        <button mat-button class="btn btn-uam-sm m-2" color="primary"
          (click)="showModalFromParent();"
          (click)="editarProcesso();">
          <i class="fa-solid fa-file"></i> Capa do Processo
        </button>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="col-12 mt-3">
      <hr class="text-uam">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active text-uam" id="pills-partes-tab" data-bs-toggle="pill" data-bs-target="#pills-partes" type="button" role="tab" aria-controls="pills-partes" aria-selected="true"><i class="fa-solid fa-users"></i> Partes</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link text-uam" id="pills-advogados-tab" data-bs-toggle="pill" data-bs-target="#pills-advogados" type="button" role="tab" aria-controls="pills-advogados" aria-selected="false"><i class="fa-solid fa-user-tie"></i> Advogados</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link text-uam" id="pills-pretensao-tab" data-bs-toggle="pill" data-bs-target="#pills-pretensao" type="button" role="tab" aria-controls="pills-pretensao" aria-selected="false"><i class="fa-solid fa-bullseye"></i> Pretenção</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link text-uam" id="pills-fases-tab" data-bs-toggle="pill" data-bs-target="#pills-fases" type="button" role="tab" aria-controls="pills-fases" aria-selected="false"><i class="fa-solid fa-timeline"></i> Fases</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link text-uam" id="pills-publicacoes-tab" data-bs-toggle="pill" data-bs-target="#pills-publicacoes" type="button" role="tab" aria-controls="pills-publicacoes" aria-selected="false"><i class="fa-solid fa-newspaper"></i> Publicações</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link text-uam" id="pills-financeiro-tab" data-bs-toggle="pill" data-bs-target="#pills-financeiro" type="button" role="tab" aria-controls="pills-financeiro" aria-selected="false">
            <i class="fa-solid fa-dollar"></i> Financeiro</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link text-uam" id="pills-garantias-tab" data-bs-toggle="pill" data-bs-target="#pills-garantias" type="button" role="tab" aria-controls="pills-garantias" aria-selected="false">
            <i class="fa-solid fa-location-pin-lock"></i> Garantias</button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-partes" role="tabpanel" aria-labelledby="pills-partes-tab"><app-partes></app-partes></div>
        <div class="tab-pane fade" id="pills-advogados" role="tabpanel" aria-labelledby="pills-advogados-tab"><app-advogados></app-advogados></div>
        <div class="tab-pane fade" id="pills-pretensao" role="tabpanel" aria-labelledby="pills-pretensao-tab"><app-pretensao></app-pretensao></div>
        <div class="tab-pane fade" id="pills-fases" role="tabpanel" aria-labelledby="pills-fases-tab"><app-fases></app-fases></div>
        <div class="tab-pane fade" id="pills-publicacoes" role="tabpanel" aria-labelledby="pills-publicacoes-tab"><app-Publicacao></app-Publicacao></div>
        <div class="tab-pane fade" id="pills-financeiro" role="tabpanel" aria-labelledby="pills-financeiro-tab"><app-financeiro></app-financeiro></div>
        <div class="tab-pane fade" id="pills-garantias" role="tabpanel" aria-labelledby="pills-garantias-tab"><app-garantia></app-garantia></div>
      </div>
    </div>
  </div>
</div>
<app-novo-processo></app-novo-processo>
